@model MyRents.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

@if (@Model != null)
{
<ul>
    <li><b>Membership Type:</b> @Model.MemberShipType.Name</li>
    @if (@Model.Birthday.HasValue)
    {
        <li><b>Birthday:</b> @(((DateTime) Model.Birthday).ToShortDateString())</li>
        @* Another way to use the same value
            <li><b>Birthday:</b> @Model.Birthday.Value.ToShortDateString()</li>
        *@
    }
</ul>
    
}
else
{
    <p>Customer NOT found</p>
}


