<!--Using IEnumerable type because it's a base type for others, like List or Dictionary, so
if, in the future, decide to change to another type, it will still work-->
@using Microsoft.Ajax.Utilities
@model IEnumerable<MyRents.Models.Customer>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="mb-4">@ViewBag.Title</h1>



<div align="center" class="container">
    @Html.ActionLink("New Customer", "New", "Customers", new { @class = "btn btn-primary mb-3" })

    <table id="customers" class="table table-hover table-bordered w-50">
        <thead>
            <tr>
                <th scope="col" class="text-center">@ViewBag.Title</th>
                <th scope="col" class="text-center">Membership Type</th>
                <th scope="col" class="text-center">Delete</th>
            </tr>
        </thead>
        <tbody>
        <!--Empty Model, empty list-->
        @if (!Model.Any())
        {
            <tr>
                <td>We don't have any customer yet</td>
            </tr>
        }
        else
        {
            foreach (var customer in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Edit", "Customers",
                            new {id = customer.Id}, null)
                    </td>
                    <td>@customer.MemberShipType.Name</td>
                    <td>
                        <!-- class js-delete just to indicate that this class will be used by Javascript, not CSS -->
                        <!-- Using custom data attribute "data-customer-id" to hold the id of the customer to use by the jquery script -->
                        <button type="button" class="btn btn-link js-delete" data-customer-id="@customer.Id" 
                                data-toggle="tooltip" data-placement="right" title="Using JQuery & AJAX">Delete</button>
                    </td>
                </tr>
            }

        }
        </tbody>
    </table>
    
</div>
<!-- Modal - Using bootstrap dialog version, instead of regular javascript-->
    <div class="modal" id="deleteModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete Customer</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this customer?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="deleteConfirm" aria-label="Confirm delete">Confirm</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">Close</button>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <!-- Using JQUery to manage the action from the delete button -->
    <script>
        $(document).ready(function() {
            // all JQuery goes inside this part

            // Adding DataTable functions to the table
            $("#customers").DataTable();


            $(function () {
                $('[data-toggle="tooltip"]').tooltip();
            });

            // Select #customers table and filter elements with the class js-delete
            // This way, it's more efficient because there will be only one event handler in the memory, which gets the #customers id
            $("#customers").on("click", ".js-delete",function() {
                    //getting a reference for the button to be used when it's clicked
                    var button = $(this);

                // call the modal (display the dialog box on the screen)
                $("#deleteModal").modal();

                    // if the deleteConfirm button is clicked
                    $("#deleteConfirm").on("click", function()
                    {
                        $.ajax({
                            // Using AJAX to send a request to the server using the api
                            // the customerId is obtained through the data-attribute in the delete button
                            url: "/api/customers/" + button.attr("data-customer-id"),
                            method: "DELETE",       
                            success: function () {
                                // case it's success, remove the row from the table
                                button.parents("tr").remove();
                            }
                        });

                        // hide de modal (dialog box)
                        $("#deleteModal").modal("hide");
                    });      
            });
        });

    </script>
}
